@charset "utf-8";
/* CSS Document */

.menu ul {
	float:left;
	position:absolute;
	}
	
.menu li {
	float:left;
	list-style:none;
	padding-top:40px;
	padding-right:33px;
	font-size:16px;
	color:#000;}
	
.sr ul {
	float:left;
	position:absolute;
	}
	
.sr li {
	float:left;
	list-style:none;
	padding-top:20px;
	padding-right:45px;
	font-size:16px;
	color:#000;
	
	}

.z ul {
	float:left;
	position:absolute;
	}
	
.z li {
	float:left;
	list-style:none;
	padding-top:20px;
	padding-right:45px;
			
	}